<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.amine.horaires"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <activity
            android:name=".listfavorites.ListFavoritesActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".shopdetail.DetailShopActivity"
            android:label="@string/app_name"
            android:parentActivityName=".listfavorites.ListFavoritesActivity">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".listfavorites.ListFavoritesActivity"/>
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".search.SearchActivity"
            android:label="@string/app_name"
            android:parentActivityName=".listfavorites.ListFavoritesActivity">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".listfavorites.ListFavoritesActivity"/>
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".updateshop.UpdateShopActivity"
            android:label="@string/app_name"
            android:parentActivityName=".shopdetail.DetailShopActivity">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".shopdetail.DetailShopActivity"/>
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
